html{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  background-color: #607D8B;
  padding-top: 15px;
  padding-left: 2%;
  padding-right: 2%;
}

.main-heading{
  font-size: 5em;
  text-align: center;
  color: #FFFFFF
}
.imgdiv{
  display: flex;

  padding: 5%;
  margin: 10px;
  background-color: #455A64;
}
p{
  color:green;
}

.mainBody{
  padding-top: 10px;
  grid-template-columns: 30px 50px auto 50px 30px;
  grid-template-rows: 25%, 50% auto;
  padding-bottom: 5px;
  margin-bottom: 1%;
  border: #212121;
  background-color: #455A64;
}
footer{
  padding-top: 10px;
  grid-template-columns: 30px 50px auto 50px 30px;
  grid-template-rows: 25%, minmax(2508px 50%) 25%;
  padding-bottom: 5px;
  margin-bottom: 1%;
  border: #212121;
  background-color: #455A64;
}

.quote{
  box-sizing:unset;
  box-decoration-break:clone;
  box-shadow: darkcyan;
  padding: 1% 1% 1% 1%;
  background-color:cadetblue;
  font-family: 'Mr Dafoe', cursive;
  font-size:xx-large;
  color: #212121;
}
.block2{
  grid-row-start: 2;
}
