html{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
  background: linear-gradient(white 700px, black 0);
  
  
 /* grid-gap: 0px;*/
  min-height: 100vh;
  padding-top: 4px;
  padding-left: 10%;
  padding-right: 10%;
}

#principaldiv{
  display: grid;
  grid-template-columns: auto 65% auto;
  grid-template-rows: 0.12fr 0.02fr 0.1fr 1% 0.3fr 0.3fr 0.1fr;
}


.main-heading{
  font-family: 'Amatic SC', cursive;
  grid-column: 2;
  grid-row: 1;
  font-size: max(5vw, 58px);
  text-align: center;
  color: #ffffff;
  background-color:#212121; 
  padding: 1% 1% 1% 1%;
  margin-top: 1%;
  align-self: stretch;
  row-gap: 0;
  margin: 0;
}
.midrow{
  grid-column: 2;
  grid-row: 2;
  background-color: rgba(219, 96, 59, 0.856);
  color: rgba(219, 96, 59, 0.856);
  text-align:;
  align-self: stretch;
  row-gap: 0;
  margin: 0;
}
.second-heading, h2{
  grid-column: 2;
  grid-row: 3;
  padding: 1% 1% 1% 1%;
  font-size: max(3vw, 42px);
  font-family: 'Amatic SC', cursive;
  text-align: center;
  color: lightgray;
  background-color:#212121; 
  align-self: stretch;
  row-gap: 0;
  margin: 0;
}
.midrow2{
  grid-column: 2;
  grid-row: 4;
  background-color:rgba(219, 96, 59, 0.856);
  color: rgba(219, 96, 59, 0.856);
  text-align: center;
  align-self: stretch;
  row-gap: 0;
  margin: 0;
}

.imageslot{
  grid-column: 2;
  grid-row: 5;
  padding: 1% 1% 1% 1%;
  margin-top: 1vh;
  color:lightgreen;
  text-align: center;
  background-color: #637f8b;
}

img { /* This makes the image responsive to sizing*/
  max-width: 75%;
  height: auto;
  min-width:31vh;
  border: 3px solid white;
  border-style:groove;
  border-color: aliceblue;
}

.mainBody{
  justify-self: stretch;
  grid-column: 2;
  grid-row: 6;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1%;
  border: #212121;
  background-color: #637f8b;
}


.quote{
  display: flexbox;
  flex-direction: row;
  padding: 1% 1% 1% 5%;
  font-weight: lighter;
  color: #212121;
  padding: 5px 10px 5px 10px;
}
.quote-element{
  text-align: center;
  font-size: max(1.5vw, 2.5vh, 80%);
  font-family: 'Caveat', cursive;
  text-shadow: rgba(2, 5, 29, 0.863) 1px 0 10px;
}

#quotep1{
  text-align: center;

}
#quotep2{
  text-align: center;
}
#quotep3{
  text-align: center;
}
#quotep4{
  text-align: center;
}
.block2{
  color:whitesmoke;
  font-size: max(1.5vw, 1.8vh, 80%);
  padding: 1% 7% 1% 7%;
  justify-self: center;
  text-align: center;
}

footer{
  margin-top: 10px;
  grid-column: 2;
  grid-row: 7;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  align-items: center;
  align-content: center;
  font-size: max(0.9vw, 1.2vh);
  align-self: center;
  margin-bottom: 1%;
  border: #212121;
  color: #042431;
  background-color: rgba(219, 96, 59, 0.856);
}
.prefooter{
  color:whitesmoke;
  font-size: max(1.2vw, 1.5vh, 80%);
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  color: #042431;
}

@media (min-height: 350px){
  
}


@media (max-width: 660px){
  /*img { /* This makes the image responsive to sizing*/
   /* max-width: 99%;
    height: auto;
    min-width:31vh;
    border: 3px solid white;
    border-style:groove;
    border-color: aliceblue;
  }*/
  body{
    padding-left: 2%;
    padding-right: 2%;
  }
  #principaldiv{
    grid-template-columns: auto 80% auto;
  }

  


#ball {
  background: #f00;
	border-radius: 50%;
	height: 3vh;
	width: 3vh;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: studs 0.3s ease-out infinite alternate, move 4s ease-out both;

}
body:hover #ball,
body:hover #frame {
	animation-play-state: paused;
}
#frame {
  grid-row: 1;
  grid-column: 2;
  position: relative;
	height:initial;
	animation: gravity 4s ease-in both;
}

@keyframes studs {
	to {
		bottom: 100%;
	}
}
@keyframes move {
	to {
		left: 100vw;
	}
}
@keyframes gravity{
	to {
		height: 0px;
    margin-bottom: 0px;
  }
}
  
@keyframes roll{
    to {
      bottom: 0%, ease-out;
    }
  
}